.padding-left-20px {
  padding-left: 20px !important;
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.3rem 1rem !important;
}
.p-button.p-button-icon-only.p-button-rounded {
  height: 1rem !important;
  width: 2rem;
}
.p-button:focus {
  box-shadow: none;
}
.p-component-overlay {
  background-color: rgb(246 246 246 / 40%) !important;
}
